
{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<h3>Login</h3>

<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <ul style="list-style-type: none">
        <li>Email: <input type="email" name="email"></li>
        <li>Password: <input type="password" name="password"></li>
        {% if error %}
            <li style="color: red">{{ error }}</li>
        {% endif %}
        <li><input type="submit"></li>
    </ul>
</form>
{% endblock %}
