{% extends 'base.html' %}
{% block title %} Departments {% endblock %}

{% block content %}
<br><h3>Departments</h3><br>

{% if perms.departments.add_department %}
    <a href="{% url 'departments:create' %}">Add department</a>
{% endif %}

<table>
    <tr class="filter">
        <form action="{% url 'departments:home' %}">
            <th></th>
            <th><input type="text" name="name" placeholder="Search by name"></th>
            <th>
                <input type="date" name="from">
                <input type="date" name="to">
            </th>
            <th><button type="submit">Search</button></th>
        </form>
    </tr>
    <tr>
        <th>#</th>
        <th><a href="?order_by=name">Name</a></th>
        <th><a href="?order_by=opened_on">Opened on</a></th>
    </tr>
    {% for department in departments %}
    <tr onclick='window.location.href="{% url 'departments:detail' department.pk %}"'>
        <td>{{ forloop.counter }}</td>
        <td>{{ department.name }}</td>
        <td>{{ department.opened_on }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}